.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  width: 120px;
  padding: 10px 15px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.btn-bold {
  background-color: rgb(6, 75, 9);
  font-weight: bold;
}

.button-margin-left {
  margin-left: 10px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 32.5px;
  height: 32.5px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 32.5px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.containerx {
  margin: auto;
  width: 80%;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
}

.game {
  display: flex;
  flex-direction: row;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.game-board {
  margin: auto;
  width: 100%;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
}

.game-info {
  margin: auto;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: white;
}

.game-config {
  display: block;
  margin-bottom: 20px;
}
.fixed-size {
  width: 100px;
  display: inline-block;
}
.btn-bold {
  font-weight: bold;
}

.square-highlight {
  color: red;
  background-color: rgb(81, 81, 226);
  font-weight: bold;
}

.footer {
  position: fixed;
  display: block;
  width: 100%;
  background: rgb(197, 197, 197);
  text-align: center;
  bottom: 0;
}

.avatar {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.display-info {
  width: 100%;
  height: 100%;
  padding-top: 15px;
}

.btn-group {
  margin: auto;
  width: 80%;
  background-color: white;
}

.history-container {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.history {
  width: 100%;
  height: 285px;
  margin: 0;
  padding: 5px;
  font-family: sans-serif;
  border: 1px solid #ccc;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat {
  height: 50px;
  width: 50px;
}
